*
!/.gitignore

!*.go
!go.sum
!go.mod
!.env.example
!Dockerfile
!docker-compose.yml
!Makefile
!/.dockerignore

!README.md
!LICENSE
!vault/example/clients.json
!vault/example/jwt.private
!vault/example/jwt.public
!vault/example/redis-pass.txt
!vault/example/db-pass.txt
!vault/example/certs/server-cert.pem
!vault/example/certs/server-key.pem
!build.sh
# !Makefile

# ...even if they are in subdirectories
!*/
